/*CSS for the cool kids*/
html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-weight: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: 32px;
  font-family: "Space Mono", monospace;
}

body {
  background-image: url(./wave.svg);
  background-color: #7effcf;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main {
  border: solid #fff 7px;
  border-radius: 30px;
  background-color: #fff;
  height: 625px;
  width: 350px;
  /*box-shadow: 55px -25px pink;*/
}
.title {
  font-family: "Rubik", sans-serif;
  box-shadow: 25px 15px white;
  border-radius: 10px;
  padding: 15px;
  margin: 0;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(63, 94, 251);
  background-color: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 62%
  );
}

.row {
  border: 1px #fff solid;
  border-radius: 5px;
  justify-content: space-between;
  display: flex;
  flex: 1;
  height: 15%;
  padding: 1.4px;
}

button {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background-color: #d6d8d7;
  padding: 1.1px;
}
button:hover {
  background-color: #e0e1e1;
  cursor: pointer;
}
button:active {
  background-color: #cccdcd;
}

#input {
  font-size: 36px;
  padding: 10px;
  color: black;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.clear {
  text-align: right;
}

.math {
  background-color: #3f5efb;
}

.math:hover {
  background-color: #617bfb;
}
.math:active {
  background-color: #344dce;
}

.fourth {
  width: 24.6%;
}

.half {
  width: 50%;
}

.three-fourths {
  width: 75%;
}

.hundred {
  width: 100%;
}

/*Cute lil mediaquery for responsiveness on mobile*/
@media (max-width: 1000px) {
  body {
    background-color: #ffc0cb;
  }
  button:hover {
    background-color: #e0e1e1;
  }
}
